.footer {
  background: #946c0c;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100% !important;
}
.footer-container {
  max-width: 1200px;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-container-flex {
  display: flex;
  justify-content: center;
}
.footer-container a {
  margin-right: 25px;
}
.footer-links {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.footer-bottom {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .footer-links {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .footer-links {
    flex-direction: column !important;
  }
}

/* --- */
html {
  scroll-behavior: smooth;
}
.acik-sayfa-footer {
  border-bottom: 2px solid white;
}
