.contact-section {
  position: relative;
  background: url("../img/kurumsal/sevinc.avif") center/cover no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
}
.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 34, 0, 0.4);
}
.contact-content {
  position: relative;
  z-index: 10;
  padding: 0 20px;
}
@media (max-width: 900px) {
  .contact-section {
    height: 240px;
  }
}
