.corporate-section {
  position: relative;
  background: url('../img/arkaplan/hamur1.jpg') center/cover no-repeat;
  background-attachment: fixed;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
 
}
.corporate-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(98 86 10 / 44%); /* Turuncu overlay */
}
@media (max-width: 768px) {
  .corporate-section {
    background-attachment: local;
  }
}
.corporate-content {
  position: relative;
  z-index: 10;
}
/* ---- */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  opacity: 0;
  filter: blur(10px);
  transition: opacity 1s ease-out, filter 1s ease-out;
}
.about-image {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.about-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}
.about-content {
  flex: 1;
  padding-right: 40px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .about-content {
    padding-right: 0;
  }
}

/* ---- */
.mission-vision-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  opacity: 0;
  filter: blur(10px);
  transition: opacity 1s ease-out, filter 1s ease-out;
}
.mission-vision-image {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.mission-vision-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}
.mission-vision-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mission-vision-content {
  flex: 1;
  padding-left: 40px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
@media (max-width: 768px) {
  .mission-vision-section {
    flex-direction: column;
    text-align: center;
  }
  .mission-vision-content {
    padding-left: 0;
    margin-top: 20px;
  }
}

/* ---- */
